body {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(247, 250, 252);
}

.navbar-grid-center{
    display: flex;
    text-align: center;
    position: fixed;
    text-decoration: white;
}